<!DOCTYPE html>
<html lang="en" style="background-color: lightblue;">
  <head>
    <meta charset="utf-8">
    <title>table</title>
        <!-- Add this to <head> -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- Add this after vue.js -->
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.Vue = Vue;
      Vue.use(VuePlugin);
    </script>
  </head>
  <body>
    <div id="vm" style = "background-color: lightblue;">
      <template>
        <b-container fluid >
          <!-- User Interface controls -->
          <div style = "background-color: lightblue;">
          <div style = " margin-top:30px; margin-left: 20px; margin-right: 20px; margin-bottom: 30px">
            <h1 style = 'text-align: center; '>BhavCopy records</h1>
            <b-row>
                <b-col md="6" class="my-1">
                <b-form-group horizontal label="Filter" class="mb-0">
                    <b-input-group>
                    <b-form-input v-model="filter" placeholder="Type to Search" />
                    <b-input-group-append>
                        <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                    </b-input-group-append>
                    </b-input-group>
                </b-form-group>
                </b-col>
                <b-col md="6" class="my-1">
                <b-form-group horizontal label="Sort" class="mb-0">
                    <b-input-group>
                    <b-form-select v-model="sortBy" :options="sortOptions">
                        <option slot="first" :value="null">-- none --</option>
                    </b-form-select>
                    <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                        <option :value="false">Asc</option>
                        <option :value="true">Desc</option>
                    </b-form-select>
                    </b-input-group>
                </b-form-group>
                </b-col>
                <b-col md="6" class="my-1">
                <b-form-group horizontal label="Sort direction" class="mb-0">
                    <b-input-group>
                    <b-form-select v-model="sortDirection" slot="append">
                        <option value="asc">Asc</option>
                        <option value="desc">Desc</option>
                        <option value="last">Last</option>
                    </b-form-select>
                    </b-input-group>
                </b-form-group>
                </b-col>
                <b-col md="6" class="my-1">
                <b-form-group horizontal label="Per page" class="mb-0">
                    <b-form-select :options="pageOptions" v-model="perPage" />
                </b-form-group>
                </b-col>
            </b-row>
        </div>
        </div>
        <div style = "background-color: white;">
          <!-- Main table element -->
          <b-table show-empty
                   stacked="md"
                   :items="items"
                   :fields="fields"
                   :current-page="currentPage"
                   :per-page="perPage"
                   :filter="filter"
                   :sort-by.sync="sortBy"
                   :sort-desc.sync="sortDesc"
                   :sort-direction="sortDirection"
                   @filtered="onFiltered"
          >
            <template slot="name" slot-scope="row">{{row.value.first}} {{row.value.last}}</template>
            <template slot="isActive" slot-scope="row">{{row.value}}?'Yes :)':'No :('</template>
            <template slot="actions" slot-scope="row">
              <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
              <b-button size="sm" @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
                Info modal
              </b-button>
              <b-button size="sm" @click.stop="row.toggleDetails">
                {{ row.detailsShowing}} ? 'Hide' : 'Show'  Details
              </b-button>
            </template>
            <template slot="row-details" slot-scope="row">
              <b-card>
                <ul>
                  <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
                </ul>
              </b-card>
            </template>
          </b-table>

          <b-row>
            <b-col md="6" class="my-1">
              <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </b-col>
          </b-row>

          <!-- Info modal -->
          <b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
            <pre>{{ modalInfo.content }}</pre>
          </b-modal>
        </div>
        </b-container>
      </template>
    </div>
<script type="text/javascript">
console.log('works')


  var app=  new Vue({
  loading: false,
  el: '#vm',
  data: {
    
    items: [],
    loading: true,
    field:[{ key: 'name', label: 'name', sortable: true, sortDirection: 'desc' }],
    fields: [
      { key: 'name', label: 'name',sortable: true, sortDirection: 'desc' },
      { key: 'code', label: 'code', sortable: true, 'class': 'text-center' },
      { key: 'open', label: 'open' , sortable: true},
      { key: 'close', label: 'close', sortable: true },
      { key: 'high', label: 'high' , sortable: true},
      { key: 'low', label: 'low' , sortable: true},
    ],
    currentPage: 1,
    perPage: 20,
    totalRows: 10000,
    pageOptions: [ 20, 100, 500 ],
    sortBy: null,
    sortDesc: false,
    sortDirection: 'asc',
    filter: null,
    modalInfo: { title: '', content: '' }
  },
  
  async mounted() {
    this.fetchTasks();
    console.log('app created...');
  },
  computed: {
  sortOptions () {
    // Create an options list from our fields
    return this.field
      .filter(f => f.sortable)
      .map(f => { return { text: f.label, value: f.key } })
    }
  },
  methods: {
    info (item, index, button) {
      this.modalInfo.title = `Row index: ${index}`
      this.modalInfo.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    fetchTasks() {
    axios
        .get('/api/v1/bhavcopy/names/all')
        .then(response => {
            this.items = response.data
            console.log(items)
        })
        .catch(error => {
            console.log(error);
            this.errored = true
        })
        .finally(() => this.loading = false)
}

  },
});
</script>
  </body>
</html>